
  btn {
    background: transparent;
    border: none;
    margin: 30px auto 0;
    display: block;
    font-size: 20px;
    outline: none;
    position: relative;
    transition: 0.3s;
    padding: 10px;
  }
  btn:before {
    content: '';
    border-bottom: 5px solid #000;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    transition: 0.3s;
  }
  btn:hover:before {
    width: 100%;
    padding: 0;
  }
  btn:active {
    background: #000;
    color: #fff;
    transition: none;
  }
  